language = "nodejs"
#run = "cd Froned_Nutricion && npm i"
#run = "cd Froned_Nutricion && npm start"
#run = "cd Backend_Nutricion && npm i express morgan nodemon mysql"
run = "cd Backend_Nutricion && npm run dev "